<div class="container">
  <div class="box">
    <h1 class="title">Healthy Score</h1>
    <div class="row">
      <span class="label steps-label">Steps</span>
      <span class="label calories-label">Calories</span>
    </div>
    <div class="row">
      @if (healthyScore$ | async; as score) {
      <span class="value">{{score.steps}}</span>
      <span class="value">{{score.calories}}</span>
      }
    </div>
    <div class="button-container">
      <button class="btn start-btn" (click)="start()">Start</button>
      <button class="btn stop-btn" (click)="stop()">Stop</button>
    </div>
  </div>
</div>
