.h-screen {
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  background-color: #e7ffd6; 
  color: #2f855a; 
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.title {
  font-size: 2rem; 
  font-weight: bold;
  margin-bottom: 1rem; 
  color: #38a169; 
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem; 
}

.label {
  flex-grow: 1;
  font-weight: bold;
  padding: 1rem; 
  color: #48bb78; 
}

.steps-label {
  color: #48bb78; 
}

.calories-label {
  color: #38a169; 
}

.value {
  font-size: 2.5rem; 
  font-weight: bold;
  width: 45%; 
  text-align: center;
  color: #2f855a;
}

.button-container {
  margin-top: 1rem; 
}

.btn {
  padding: 0.5rem 1rem; 
  font-weight: bold;
  border-radius: 9999px; 
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.start-btn {
  background-color: #48bb78; 
}

.start-btn:hover {
  background-color: #38a169;
}

.stop-btn {
  background-color: #f56565; 
  margin-left: 1rem;
}

.stop-btn:hover {
  background-color: #c53030; 
}

.mr-2 {
  margin-right: 0.5rem;
}
